<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %>
  <body>
    <%- include('partials/navbar.ejs') %>

    <h1>Estilo do bootstrap</h1>

    <div class="container">Bla</div>

    <!-- FIM -->

  
  </body>
  <%- include('partials/footer.ejs') %>

</html>
