<!DOCTYPE html>
<html lang="en">

  <%- include('partials/header.ejs') %>

  <body>

    <%- include('partials/navbar.ejs') %>
   

    <div class="container mt-2">
      <div class="card" id="form-question">
        <div class="card-header">
          <h3>Realizar Pergunta</h3>
        </div>

        <div class="card-body">
          <form class="mt-2">
            <label for="inpt">Título</label>
            <input
              id="inpt"
              class="form-control"
              type="text"
              placeholder="Titulo"
            />
            <label class="mt-4" for="text-area">Descricao</label>
            <textarea
              class="form-control"
              name=""
              id="text-area"
              cols="30"
              rows="10"
              placeholder="Fazer sua pergunta"
            ></textarea>
            <button class="btn btn-primary mt-4">Perguntar</button>
          </form>
        </div>
      </div>

      <hr />
    </div>

    <!-- FIM -->
  </body>

  <%- include('partials/footer.ejs') %>
</html>
